{#
    Красивый вывод задачи.
    Параметры:
        content
            kyoku
            position
            turn
            score
            dora
            hand
            draw
            is_answered
            answer
                a
                    discard
                    content
                b
                    discard
                    content
                c
                    discard
                    content
            best_answer
        mode    string      'admin'|'site'
            В админке ответы показываются сразу.
            На сайте показываются кнопки для выбора ответа.
#}
<div class="exercise">
    <div class="row">
        <div class="left">
            <div class="kyoku"   >Сдача:   {{ content.kyoku   |kyoku }}</div>
            <div class="position">Позиция: {{ content.position|wind  }}</div>
            <div class="turn"    >Ход:     {{ content.turn           }}</div>
            <div class="score"   >Очки:    {{ content.score          }}</div>
        </div>
        <div class="dora">Дора: {{ content.dora|tile|raw }}</div>
        <br/>
    </div>
    <div class="row">
        <div class="hand">Рука:   {{ content.hand|tile|raw }}</div>
        <div class="draw">Набрал: {{ content.draw|tile|raw }}</div>
        <br/>
    </div>

    {% if mode == 'site' %}
        <div class="row variants">
            <div class="question">Что сбросить?</div>
            {% for letter in app.types.abc.each %}
                <button disabled name="{{ letter }}">
                    {{ letter|upper }}. {{ attribute(content.answer, letter).discard|tile|raw }}
                </button>
            {% endfor %}
            <br/>
        </div>
    {% endif %}

    <div class="row answers">
        <hr/>
        {% if mode == 'admin' and not content.is_answered.toBoolean %}
            <div class="not_answered">Ответы не опубликованы</div>
        {% endif %}
        {% include '_answer.twig' with {
            mode    : mode,
            letter  : content.best_answer,
            fields  : attribute(content.answer, content.best_answer),
            is_best : true,
        } only %}
        <p>Другие ответы:</p>
        {% for letter in app.types.abc.each %}
            {% if letter != content.best_answer %}
                {% include '_answer.twig' with {
                    mode    : mode,
                    letter  : letter,
                    fields  : attribute(content.answer, letter),
                    is_best : false,
                } only %}
            {% endif %}
        {% endfor %}
    </div>
</div>
