<div class="mondai">
    <div class="kyoku"   >Сдача:   {{ content.kyoku |kyoku   }}</div>
    <div class="jikaze"  >Позиция: {{ content.jikaze|kaze    }}</div>
    <div class="junme"   >Ход:     {{ content.junme          }}</div>
    <div class="dora"    >Дора:    {{ content.dora  |pai|raw }}</div>
    <div class="mochiten">Очки:    {{ content.mochiten       }}</div>
    <div class="tehai"   >Рука:    {{ content.tehai |pai|raw }}</div>
    <div class="tsumo"   >Набрал:  {{ content.tsumo |pai|raw }}</div>
    <div class="question">{{ question }}</div>
    <ol  class="variants">
        <li>{{ content.kiri_a|pai|raw }}</li>
        <li>{{ content.kiri_b|pai|raw }}</li>
        <li>{{ content.kiri_c|pai|raw }}</li>
    </ol>
</div>
