{% extends 'admin/_layout.twig' %}

{% block admin_body %}
    <script src="/script/happy.js"></script>
    <h2>Редактирование задачи</h2>
    <form action="{{ path('admin_mondai_edit', { 'mondai_id' : mondai_id_old }) }}?page={{ page }}" method="post">
        <input type="hidden" name="csrf" value="{{ csrf }}"/>
        <p>№<input name="mondai_id_new" value="{{ mondai.mondai_id|default(mondai_id_new) }}" maxlength="3"/>.
            <input name="title"         value="{{ mondai.title|default('') }}"/>
        </p>
        <p><textarea name="content" rows="13">{{ mondai.content|default('') }}</textarea></p>
        <p>
            <input type="button" value="Сохранить"/>
            <input type="button" value="Отмена"/>
            <input type="button" value="Удалить"/>
        </p>
    </form>
{% endblock %}
