{% extends 'admin/_layout.twig' %}

{% block admin_body %}
    {% if mondai %}
        <h2>
            Задача №{{ mondai.mondai_id|lpad('0', 3) }}.
            {{ mondai.title }}
            {% if mondai.is_hidden %}
                (скрыта)
            {% endif %}
        </h2>
        {% include '_mondai_content.twig' with {
            'content'  : mondai.content,
            'question' : 'Варианты ответа:',
        } only %}
        <p><a href="{{ path('admin_mondai_edit', { 'mondai_id' : mondai.mondai_id }) }}?page={{ page }}">[редактировать]</a></p>
    {% else %}
        <p class="empty">Нет такой задачи</p>
    {% endif %}
    
    <p>
        <a href="{{ path('admin_page') }}">[на главную]</a>
        <a href="{{ path('admin_page', { 'page' : page }) }}">[к списку задач]</a>
    </p>
{% endblock %}
