{% extends 'admin/_layout.twig' %}

{% block admin_body %}
    {% if mondai %}
        <h2>
            Задача №{{ mondai.mondai_id|lpad('0', 3) }}.
            {{ mondai.title }}
            {% if mondai.is_hidden %}
                (скрыта)
            {% endif %}
        </h2>
        <p>Сдача:   {{ mondai.kyoku |kyoku   }}</p>
        <p>Позиция: {{ mondai.jikaze|kaze    }}</p>
        <p>Ход:     {{ mondai.junme          }}</p>
        <p>Дора:    {{ mondai.dora  |pai|raw }}</p>
        <p>Очки:    {{ mondai.mochiten       }}</p>
        <p>Рука:    {{ mondai.tehai |pai|raw }}</p>
        <p>Набрал:  {{ mondai.tsumo |pai|raw }}</p>
        <p><a href="{{ path('admin_mondai_edit', { 'mondai_id' : mondai.mondai_id }) }}?page={{ page }}">[редактировать]</a></p>
    {% else %}
        <p class="empty">Нет такой задачи</p>
    {% endif %}
    
    <p>
        <a href="{{ path('admin_page') }}">[на главную]</a>
        <a href="{{ path('admin_page', { 'page' : page }) }}">[к списку задач]</a>
    </p>
{% endblock %}
