{#
    Шаблон для контроллера Site::exercise -- вывод одной задачи.
    Параметры:
        exercise    Exercise    Текущая задача.
        page        integer     Текущий номер страницы в списке.
#}
{% extends '_layout.twig' %}

{% block style %}site{% endblock %}

{% block script %}
    <script src="/script/jquery.js"></script>
    <script src="/script/class.js"></script>
    <script src="/script/site/exercise.js"></script>
{% endblock %}

{% block body %}
    {% if exercise %}
        <h2>
            Задача №{{ exercise.exercise_id|lpad('0', 3) }}.
            {{ exercise.title }}
        </h2>
        {% include '_exercise_content.twig' with {
            content : exercise.content,
            mode    : 'site',
        } only %}
        {% if exercise.content.is_answered %}
            <script>
                $(function () {
                    new ExercisePage({
                        ajaxPath    : "{{ path('site_exercise_answer', { exercise_id : exercise.exercise_id }) }}",
                        answers     : $('div.answer'),
                        buttons     : $('button[name]'),
                        csrf        : '{{ csrf }}',
                        hide        : $('div.variants'),
                        show        : $('div.answers'),
                        next        : $('p.links a.next'),
                    });
                });
            </script>
        {% endif %}
    {% else %}
        <p class="empty">Нет такой задачи</p>
    {% endif %}

    <p class="links">
        <a href="{{ path('site_page') }}">[на главную]</a>
        <a href="{{ path('site_page', { 'page' : page }) }}">[к списку задач]</a>
        <a href="" class="next">[следующая задача]</a>
    </p>
{% endblock %}
