{% extends 'admin/_layout.twig' %}

{% block admin_body %}
    <h2>Задачи</h2>
    {% if mondaiList %}
        <ul>
            {% for mondai in mondaiList %}
                <li>
                    <a href="{{ path('admin_mondai_view', { 'mondai_id' : mondai.mondai_id }) }}?page={{ curPage }}">
                        №{{ mondai.mondai_id|lpad('0', 3) }}. {{ mondai.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% include '_paginator.twig' with {
            'totalCount'    : mondaiCount,
            'perPage'       : perPage,
            'curPage'       : curPage,
            'linkTemplate'  : 'admin_page'
        } only %}
    {% else %}
        <p class="empty">Нет задач</p>
    {% endif %}
    <a href="{{ path('admin_mondai_edit', { 'mondai_id_old' : 'new' }) }}">[Создать задачу]</a>
{% endblock %}
