{% extends 'admin/_layout.twig' %}

{% block admin_body %}
    <h2>Задачи</h2>
    {% if exerciseList %}
        <ul>
            {% for exercise in exerciseList %}
                <li>
                    <a href="{{ path('admin_exercise_view', { 'exercise_id' : exercise.exercise_id }) }}?page={{ curPage }}">
                        №{{ exercise.exercise_id|lpad('0', 3) }}. {{ exercise.title }}
                    </a>
                    {% if exercise.is_hidden %}
                        (скрыта)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% include '_paginator.twig' with {
            'totalCount'    : exerciseCount,
            'perPage'       : perPage,
            'curPage'       : curPage,
            'adjacentPages' : 5,
            'linkTemplate'  : 'admin_page'
        } only %}
    {% else %}
        <p class="empty">Нет задач</p>
    {% endif %}
    <p><a href="{{ path('admin_exercise_edit', { 'exercise_id' : 'new' }) }}?page={{ curPage }}">[Создать задачу]</a></p>
{% endblock %}
