{% extends 'admin/_layout.twig' %}

{% block script %}
    {{ parent() }}
    <script src="/script/happy.js"></script>
{% endblock %}

{% block body %}
    <h2>Редактирование задачи</h2>
    {% if errors %}
        <ul class="error">
            {% for error in errors %}
                <li>
                    {% if error == 'CSRF' %}
                        Попытка взлома.
                    {% elseif error == 'EXERCISE_ID:ALREADY_EXISTS' %}
                        Задача №{{ exercise.exercise_id }} уже существует.
                    {% elseif error == 'EXERCISE_ID:NOT_A_NUMBER' %}
                        Номер задачи должен быть положительным целым числом.
                    {% elseif error == 'TITLE:EMPTY' %}
                        Заголовок задачи не должен быть пустым.
                    {% else %}
                        Ошибка {{ error }}.
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form
        id="admin_exercise_edit"
        action="{{ path('admin_exercise_edit', { 'exercise_id' : exercise_id }) }}"
        method="post"
    >
        <input type="hidden" name="csrf" value="{{ csrf }}"/>
        <p>
            <label>№<input name="exercise_id" required value="{{ exercise.exercise_id }}" maxlength="3"/>.</label>
            <input name="title" required value="{{ exercise.title }}"/>
            <label>
                <input
                    type="checkbox"
                    name="is_hidden"
                    value="1"
                    {% if exercise.is_hidden == 1 %}
                        checked
                    {% endif %}
                />
                (скрыта)
            </label>
        </p>
        <p>
            <label>
                Сдача:
                <select name="kyoku">
                    {% for primitive, kyoku in app.types.kyoku.each %}
                        <option
                            value="{{ primitive }}"
                            {% if kyoku.equals(exercise.content.kyoku) %}
                                selected
                            {% endif %}
                        >
                            {{ kyoku.toRussian }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p>
            <label>
                Позиция:
                <select name="position">
                    {% for primitive, wind in app.types.wind.each %}
                        <option
                            value="{{ primitive }}"
                            {% if wind.equals(exercise.content.position) %}
                                selected
                            {% endif %}
                        >
                            {{ wind.toRussian }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </p>
        <p><label>Ход: <input name="turn" required value="{{ exercise.content.turn }}" maxlength="2"/></label></p>
        <p>
            <label>
                Дора:
                {% include 'admin/exercise/_tile_select.twig' with {
                    'name'  : 'dora',
                    'TILES'  : TILES,
                    'value' : exercise.content.dora,
                } only %}
            </label>
        </p>
        <p><label>Очки: <input name="score" required value="{{ exercise.content.score }}"/></label></p>
        <p><label>Рука: <input name="hand"  value="{{ exercise.content.hand }}" /></label></p>
        <p>
            <label>
                Набрал:
                {% include 'admin/exercise/_tile_select.twig' with {
                    'name'  : 'draw',
                    'TILES' : TILES,
                    'value' : exercise.content.draw,
                } only %}
            </label>
        </p>
        <p>
            <label>
                Публиковать ответы:
                <input type="checkbox" name="is_answered" value="1"
                    {% if exercise.content.is_answered %}
                        checked
                    {% endif %}
                />
            </label>
        </p>
        {% for letter in app.types.abc.each %}
            <p>
                <label>
                    Вариант {{ letter|upper }}:
                    {% include 'admin/exercise/_tile_select.twig' with {
                        'name'  : 'answer[' ~ letter ~ '][discard]',
                        'TILES' : TILES,
                        'value' : attribute(exercise.content.answer, letter).discard,
                    } only %}
                </label>
                <label>
                    <input
                        type="radio"
                        name="best_answer"
                        value="{{ letter }}"
                        {% if exercise.content.best_answer == letter %}
                            checked
                        {% endif %}
                    />
                    Правильный ответ
                </label>
            </p>
            <p>
                <textarea class="answer" name="answer[{{ letter }}][comment]">
                    {{- attribute(exercise.content.answer, letter).comment -}}
                </textarea>
            </p>
        {% endfor %}
        <p>
            <input type="submit" name="save" value="Сохранить"/>
            {% if exercise_id == 'new' %}
                {% set cancel = path('admin_page') %}
            {% else %}
                {% set cancel = path('admin_exercise_view', { 'exercise_id' : exercise_id }) %}
            {% endif %}
            <input type="button" onclick="location = '{{ cancel }}'" value="Отмена"/>
            {% if exercise_id != 'new' %}
                <input
                    type="submit" name="delete" value="Удалить"
                    onclick="return window.confirm('После удаления задача не может быть восстановлена.\n\nУдалить задачу?')"
                />
            {% endif %}
        </p>
    </form>
    <script>
        $('#admin_exercise_edit').isHappy({
            submitButton : 'input[type=submit][name=save]',
            fields : {
                'input[name=exercise_id]' : {
                    required : true,
                    message  : 'Номер должен быть целым положительным числом',
                    test : function checkExerciseId(exerciseId) {
                        return !! (exerciseId + '').match(/^\d{1,3}$/) && parseInt(exerciseId, 10) > 0;
                    }
                },
                'input[name=title]' : {
                    required : true,
                    message  : 'Заголовок должен быть не пуст'
                },
                'input[name=turn]' : {
                    required : true,
                    message  : 'Номер хода должен быть числом от 1 до 18',
                    test : function checkTurn(turn) {
                        if (! (turn + '').match(/^\d{1,2}$/)) {
                            return false;
                        }
                        var parsed = parseInt(turn, 10);
                        return parsed >= 1 && parsed <= 18;
                    }
                },
                'input[name=hand]' : {
                    required : true,
                    message  : 'Набор тайлов на руке должен быть не пуст'
                }
            }
        });
    </script>
{% endblock %}
