{% extends 'admin/_layout.twig' %}

{% block admin_body %}
    {% if exercise %}
        <h2>
            Задача №{{ exercise.exercise_id|lpad('0', 3) }}.
            {{ exercise.title }}
            {% if exercise.is_hidden %}
                (скрыта)
            {% endif %}
        </h2>
        {% include '_exercise_content.twig' with {
            content : exercise.content,
            mode    : 'admin',
        } only %}
        <p><a href="{{ path('admin_exercise_edit', { 'exercise_id' : exercise.exercise_id }) }}?page={{ page }}">[редактировать]</a></p>
    {% else %}
        <p class="empty">Нет такой задачи</p>
    {% endif %}
    
    <p>
        <a href="{{ path('admin_page') }}">[на главную]</a>
        <a href="{{ path('admin_page', { 'page' : page }) }}">[к списку задач]</a>
    </p>
{% endblock %}
